* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inicio{
    border: 2px red solid;
    color: rgb(0, 1, 1);
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    top: 200px;
}

.jogo{
    border: 2px red solid;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    background: url('img/space.png');
}

.jogoPerdido{
    background-image: url('img/space-destroyed.png');
    transition: background-image 2s;
}

#playButton{
    cursor: pointer;
}

.score{
    border: 2px red solid;
    color: rgb(241, 251, 242);
    background-color: rgb(248, 13, 1);
    border: none;
    position: relative;
    width: 200px;
    margin-top: 20px;
    margin-left: 400px;
    padding: 20px;
    font-size: 18px;
    font-family: monospace;
}

.jogador{
    box-sizing: border-box;   
    position: absolute;
    height: 80px;
    width: 80px;
    left: 310px;    
    top: 70px;
}
 
.alien, .explosion{
    position: absolute;
    width: 70px;
    height: 60px;
    left: 800px;
    border: 2px red solid;
}

.explosionHide{
    opacity: 0;
    transition: opacity 1s;
}
      
.laser{
    position: absolute;
    top: 0px;
    width: 70px;
    height: 60px;
    border: 2px red solid;
}