* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inicio{
    color: rgb(0, 1, 1);
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    top: 200px;
}

.jogo{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
    background: url('img/space.png');
}

.jogoPerdido{
    background-image: url('img/space-destroyed.png');
    transition: background-image 2s;
}

#playButton{
    cursor: pointer;
}

.score{
    color: rgb(241, 251, 242);
    background-color: rgb(248, 13, 1);
    border: none;
    text-align: end;
    position: absolute;
    margin-top: 0%;
    margin-left: 60%;
    padding: 20px;
    font-size: 25px;
    font-family: monospace;
}

.jogador{
    box-sizing: border-box;   
    position: relative;
    height: 110px;
    width: 110px;
    left: 2%;
    top: 100px;
}
 
.alien, .explosion{
    position: absolute;
    width: 70px;
    height: 60px;
    left: 940px;
    top: 100px;
}

.explosionHide{
    opacity: 0;
    transition: opacity 1s;
}

.laser{
    position: absolute;
    width: 70px;
    height: 60px;
}